body{
    margin: auto;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}
.header{
    display: flex;
    position: fixed;
    align-items: center;
    background: white;
    padding: 0 16px;
    font-size: 14px;
    line-height: 14px;
    height: 72px;
    width: 100%;
    box-shadow: 1px 1px slategray;
    z-index: 1;
}

.icons{
    cursor: pointer;
    display: flex;
    align-items: center;
}
#ecosystem{
    padding: 16px 16px 16px 0;
    height: 40px;
    width: 40px;
}

#ftLogo{
    padding: 10px 0;
    margin: 0 24px 0 0;
    height: 50px;
    width: 50px;
}


.navs{
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 8px;
}

.marketplace,.resources{
    padding: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.noneMarketplace{
    position: absolute;
    top: 30px;
    width: 160px;
    height: 60px;
    background-color: white;
    box-shadow: 5px 2px 3px #f7f7f7;
    display: none;
    cursor: initial;
    color: black;
}

.noneResources{
    position: absolute;
    top: 30px;
    width: 90px;
    height: 110px;
    background-color: white;
    box-shadow: 5px 2px 3px #f7f7f7;
    display: none;
    cursor: initial;
    color: black;
}

.resourcesItem{
    margin: 10px 0;
}
.marketplace:hover .noneMarketplace, .noneMarketplace:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resources:hover .noneResources, .noneResources:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.marketplaceInside{
    margin: 12px 0;
    cursor: pointer;
}

.marketplaceInside:hover{
    color: deeppink;
}

.arrow{
    width: 16px;
    height: 16px;
}

.marketplace:hover,.resources:hover{
    cursor: pointer;
    color: hotpink;
}

nav{
    padding: 6px 0;
    margin:  8px;
}

a{
    text-decoration: none;
}
nav:hover{
    cursor: pointer;
    color: hotpink;
}

.exchangeButton{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    padding: 12px;
}

.headerEnd{
    display: flex;
    align-items: center;
    margin-left: auto;
}
#basket{
    padding: 0 22px;
    height: 40px;
    width: 32px;
    cursor: pointer;
}

#language{
    display: flex;
    margin-right: 32px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.main{
    background-image: url("./images/back-main.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 860px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-started{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.main-big-text{
    font-size: 72px;
    width: 700px;
    font-weight: 400;
    font-family: 'Inter Black Custom' ;
}

.main-text{
    font-size: 24px;
}


.main-button1{
    border-radius: 36px;
    margin: 16px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none ;
    padding: 20px 56px;
}

.main-button1:hover{
    opacity: 0.73;
}

.main-button2,.artistButton{
    border-radius: 36px;
    padding: 20px 70px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: deeppink;
    border: none ;
}

.artistButton:hover{
    background-color: #b91268;
}

.main-button2:hover{
    background-color: lightgray;
    color: black;
}

.main-min{
    background-image: url("./images/pic5.webp");
    background-size: contain;
    background-repeat: no-repeat;
    height: 540px;
    width: 480px;
}

.collectionsHead{
    height: 270px;
    margin-bottom: 200px;
}

.collections{
    display: flex;
    flex-direction: column;
}

.collectionsName{
    padding: 0 0 60px 100px;
    font-size: 32px;
}
.collection{
    display: flex;
    gap: 20px;
    width: 90%;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 100px;
}

.collectionItem{
    width: 288px;
    height: 233px;
    border: gainsboro 2px solid;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 5px 5px #f7f7f7;
}

.collectionCurrent{
    margin: 6px 0;
}
.collectionName{
    padding: 0 0 0 28px;
}


.collectionIconGeneric{
    position: absolute;
    left: 32px;
    bottom: 56px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: white 2px solid;
}

.collectionIcon1{
    background-image: url("./images/collection-1-icon.webp")
}
.collectionIcon2{
    background-image: url("./images/collection-2-background.webp")
}
.collectionIcon3{
    background-image: url("./images/collection-3-icon.webp")
}
.collectionIcon4{
    background-image: url("./images/collection-4-icon.webp")
}
.collectionIcon5{
    background-image: url("./images/collection-5-icon.webp")
}


.collectionsInside{
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 144px;
    margin: 16px;
    border-radius: 16px;
}

.collection1-inside{
    background-image: url("./images/collection-1-background.webp")
}
.collection2-inside{
    background-image: url("./images/collection-2-background.webp");
}

.collection3-inside{
    background-image: url("./images/collection-3-background.webp");
}

.collection4-inside{
    background-image: url("./images/collection-4-background.webp");
}

.collection5-inside{
    background-image: url("./images/collection-5-background.webp");
}

.nftArtist{
    background-image: url("./images/nft-artist-min.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    display: flex;
}

.artistMain{
    flex-direction: column;
    padding: 200px 0 100px 100px;
}

.artistTextTitle{
    width: 450px;
    font-size: 48px;
    color: white;
}

.artistText{
    padding: 24px 0;
    width: 510px;
    font-size: 24px;
    color: white;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    min-width: 100% ;
    padding: 0 0 100px 0;
}

.featuresText{
    text-align: center;
    padding: 150px 0 100px 0;
    width: 850px;
    font-size: 56px;
    color: black;
}

.featuresCollections{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    width: 85%;
    height: 480px;
}

.featuresCollections1,.featuresCollections2,.featuresCollections3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    border-radius: 36px;
    background-color: #f7f7f7;
}

.featuresCollections1Image,.featuresCollections2Image,.featuresCollections3Image{
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    margin-bottom: 100px;
}

.featuresCollections1Image{
    background-image: url("./images/ftnft-drops-min.webp");
}
.featuresCollections2Image{
    background-image: url("./images/nft-shop-min.webp");
}
.featuresCollections3Image{
    background-image: url("./images/eco-min.webp");
}

.featuresCollections1Title,.featuresCollections2Title,.featuresCollections3Title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}

.featuresCollections1Text,.featuresCollections2Text,.featuresCollections3Text{
    text-align: center;
    font-size: 16px;
    width: 70%;
    padding: 8px;
}

.buyNFtBack{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 100px ;
    padding: 200px 100px;
    border-radius: 56px;
    background-image: url("./images/buy-nft-min-4.webp");
    background-size: cover;
    background-repeat: no-repeat;
}


.buyNFtTitle{
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.buyNFtText{
    padding: 24px 0;
    width: 510px;
    font-size: 24px;
    color: white;
}

.buyNFtButton{
    border-radius: 36px;
    padding: 20px 64px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: #262323;
    border: none ;
    width: 16%;
}

.buyNFtButton:hover,.contentHeadBodyButton:hover{
    background-color: #5d5757;
}

.getStarted{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px ;
    height: 700px;
    background-color:#f7f7f7 ;
}

.contentHead{
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 8px;
    width: 23%;
    border-radius: 24px;
    height: 400px;
    background-color: white;
}

.contentHeadBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 344px;
    padding: 80px
}

.contentTextTitle{
    font-size: 48px;
    color: black;
    font-weight: bold;
}

.contentHeadBodyButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 36px;
    margin: 16px 0;
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: #262323;
    border: none ;
}


.contentIcon{
    width: 60px;
    height: 60px;
    padding: 40px 0 40px 20px;
}

.contentTitle{
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.contentText{
    text-align: start;
    font-size: 18px;
    width: 80%;
    padding: 20px;
}

.nftInfo{
    height: 1000px;
}

.nftInfoTitle{
    font-size: 48px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 200px 0 100px 0;
}

.nftInfoCollections{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nftInfoCollection1,.nftInfoCollection2,.nftInfoCollection3{
    margin: 24px;
    background-color: #b91268;
    width: 500px;
    height: 500px;
    border-radius: 36px;
    cursor: pointer;
}

.nftInfoCollection1{
    background-image: url("./images/-how-to-create-an-nft.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.nftInfoCollection2{
    background-image: url("./images/hjhj.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.nftInfoCollection3{
    background-image: url("./images/what-is-an-nft.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.info{
    height: 300px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
}

.infoNft img{
    padding-top: 32px;
    width: 60px;
    height: 60px;
}

.infoNft{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.infoGrid{
    display: contents;
}
.infoMarketPlace,.infoResources,.infoCompany,.stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoTitle{
    padding-top: 32px;
    font-size: 20px;
    font-weight: bold;
}

.infoText:hover{
    color: deeppink;
    cursor: pointer;
}


.footer{
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px slategray;
}

.footerText1{
    margin-right: auto;
    padding: 40px 100px;
    width: 180px;
}

#ucraft:hover{
    cursor: pointer;
    color: deeppink;
}

.footerText{
    padding: 50px;
}

.footerText:hover{
    color: deeppink;
    cursor: pointer;
}

.footerIcons{
    padding: 40px 100px;
    margin-left: auto;
}

.footerIcons img{
    width: 20px;
    height: 20px;
    margin:  0 8px;
    border-radius: 50%;
}

.footerIcons img:hover{
    opacity: 0.6;
    cursor: pointer;
}

.chatAi{
    position: fixed;
    bottom: 16px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 36px;
    background-color: black;
    cursor: pointer;
    padding: 2px 16px;
}

.chatAi img{
    color: white;
    font-size: 17px;
    background-color: #f7f7f7;
}

.chatAi span{
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.chat{
    position: fixed;
    bottom: 16px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 36px;
    background-color: deeppink;
    color: black;
    cursor: pointer;
    padding:  14px 24px;
}

.chat img{
    font-size: 17px;
    width: 26px;
    height: 26px;
    background-color: #f7f7f7;
}

.chat span{
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.chatName{
    display: flex;
}